[settings]
root_packages =
    admesh
    mesh_registry

[contracts]
name = Prevent cross-imports between admesh and mesh_registry
type = forbidden
source_modules =
    admesh
illegal_modules =
    mesh_registry

name = Prevent cross-imports between mesh_registry and admesh
type = forbidden
source_modules =
    mesh_registry
illegal_modules =
    admesh
